<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.urbandroid.sleep.addon.generic.samsung"
    android:versionCode="26"
    android:versionName="1.5">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="com.samsung.accessory.permission.ACCESSORY_FRAMEWORK"/>
    <!--    <uses-permission android:name="com.samsung.wmanager.APP"/>-->
    <uses-permission android:name="com.samsung.wmanager.ENABLE_NOTIFICATION"/>
    <uses-permission android:name="com.samsung.WATCH_APP_TYPE.Companion"/>
    <uses-permission android:name=
        "com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <!-- THIS ACTIVITY EXISTS ONLY FOR TESTING. COMMENT OUT BEFORE RELEASE -->
        <!--
            <activity android:name=".TestingActivity"
                      android:exported="true"
                      android:configChanges="locale|orientation|keyboardHidden|keyboard|navigation"
                      android:icon="@drawable/ic_launcher"
                    >

                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>
            </activity>
            -->
        <activity android:name="com.urbandroid.sleep.addon.samsung.MainActivity"
            android:launchMode="singleInstance"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.INFO"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <service android:name="com.urbandroid.sleep.addon.samsung.SleepAsAndroidProviderService">
        </service>

        <receiver android:name="com.urbandroid.sleep.addon.samsung.SleepAsAndroidReceiver">
            <intent-filter>
                <action android:name="com.urbandroid.sleep.watch.START_TRACKING"/>
                <action android:name="com.urbandroid.sleep.watch.STOP_TRACKING"/>
                <action android:name="com.urbandroid.sleep.watch.SET_PAUSE"/>
                <action android:name="com.urbandroid.sleep.watch.SET_BATCH_SIZE"/>
                <action android:name="com.urbandroid.sleep.watch.SET_SUSPENDED"/>
                <action android:name="com.urbandroid.sleep.watch.START_ALARM"/>
                <action android:name="com.urbandroid.sleep.watch.STOP_ALARM"/>
                <action android:name="com.urbandroid.sleep.watch.HINT"/>
                <action android:name="com.urbandroid.sleep.watch.UPDATE_ALARM"/>
                <action android:name="com.urbandroid.sleep.watch.CHECK_CONNECTED"/>
                <action android:name="com.urbandroid.sleep.watch.REPORT"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.samsung.android.sdk.accessory.ServiceConnectionIndicationBroadcastReceiver">
            <intent-filter>
                <action android:name="android.accessory.service.action.ACCESSORY_SERVICE_CONNECTION_IND"/>
                <action android:name="com.samsung.accessory.action.SERVICE_CONNECTION_REQUESTED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.samsung.android.sdk.accessory.RegisterUponInstallReceiver">
            <intent-filter>
                <action android:name="android.accessory.device.action.REGISTER_AFTER_INSTALL"/>
                <action android:name="com.samsung.accessory.action.REGISTER_AGENT" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.urbandroid.sleep.addon.generic.samsung.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <meta-data
            android:name="AccessoryServicesLocation"
            android:value="/res/xml/accessoryservices.xml"/>
        <meta-data android:name="GearAppType" android:value="tpk" />
<!--

        <meta-data
            android:name="gear_app_packagename"
            android:value="SOk2s18UXZ"/>

-->

    </application>
</manifest>
